@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #1c1c1c;
  color: #f4f7f5;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header {
  background: #1c1c1c;
  border-bottom: 1px solid #444;
  padding: 20px 0;
}

.logo {
  color: #ffc857;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.nav a {
  color: #f4f7f5;
  text-decoration: none;
  border: 1px solid #f4f7f5;
  padding: 10px;
  border-radius: 8px;
}

.nav a:hover {
  border: 1px solid #ffc857;
  color: #1c1c1c;
  background-color: #ffc857;
}

.hero {
  height: 70vh;
  background: url("https://via.placeholder.com/1200x500") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h2 {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
}

.title {
  padding: 20px;
}

.resume-quem-somos {
  background-color: #474350;
  color: #f4f7f5;
  padding: 40px;
}

.card-quem-somos {
  border: 1px solid #f4f7f5;
}

.service-icon {
  width: 64px;
  height: 64px;
  filter: brightness(0); /* deixa o ícone todo preto */
  transition: transform 0.3s ease;
}

.service-icon:hover {
  transform: scale(1.1);
}
.service-icon {
  filter: brightness(0) invert(1);
  margin: 10px;
}
.section {
  padding: 60px 20px;
  text-align: center;
}

.container-service {
  display: flex;
  justify-content: center;
  background-color: #474350;
}

.title-service {
  display: flex;
  justify-content: center;
}

.container-contact {
  display: flex;
  justify-content: space-between;
}
.side-left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-rigth h5 {
  text-align: center;
  margin-bottom: 20px;
}
.contact-section i {
  margin-right: 8px;
  color: #c7a789; /* tom de cobre */
}

.contact-section .btn {
  border-radius: 0;
  letter-spacing: 1px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 8px;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 4px;
}

button {
  padding: 12px;
  border: none;
  background: #c4b06a;
  color: #690e0e;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #e6b800;
}

.footer {
  background: #000;
  text-align: center;
  padding: 20px;
}

.card-custom {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

.custom-input {
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  padding: 10px;
  border: none;
}

.custom-btn {
  background: #ffc857;
  color: #000;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
}

.custom-btn:hover {
  background: #ffc857;
}

.contact-section {
  background-color: #474350;
  color: #f4f7f5;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 200px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-float img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.logo-img {
  max-width: 200px;
}
.logo-img-footer {
  max-width: 200px;
  margin-bottom: 20px;
}

.img-galeria {
  max-width: 500px;
}

.container-img-pricipal {
  background-image: url("dist/Fotos/3.JPG");
  background-size: cover; /* ou "contain", dependendo do efeito */
  background-position: center top; /* Aqui você escolhe a parte da imagem */
  background-repeat: no-repeat;
  width: 100%;
  height: 2000px;
}

.section-maquete {
  position: relative;
  background-image: url(./dist/Fotos/11.JPG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1; /* base para conteúdo */
}
.section-maquete::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  filter: brightness(0.4) blur(1px); /* ajuste conforme o efeito desejado */
  z-index: 0; /* fica atrás do conteúdo */
}
.section-maquete .container {
  position: relative;
  z-index: 1;
}
.back-text {
  background-color: #1c1c1c;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px;
}
.section-maquete h2 {
  font-size: 2.2rem;
  color: #222;
  margin-bottom: 30px;
}

.section-maquete p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 20px;
}

.section-maquete ul {
  padding-left: 1rem;
  margin-bottom: 20px;
}

.section-maquete ul li {
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

.section-maquete ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #ffc857; /* azul elegante para bullet */
  font-size: 1.3rem;
  line-height: 1;
}

.section-maquete .fw-bold {
  font-weight: 600;
  color: #f4f7f5;
}

.card-quem-somos {
  display: flex;
  max-width: 800px; /* limita a largura */
  width: 100%;
  margin: 0 auto; /* garante centralização mesmo fora do flex */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  height: 100%;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}
.card-alinhado-esquerda {
  text-align: left;
}
.card-alinhado-esquerda h4 {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}
#quem-somos .row.g-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-quem-somos:hover {
  transform: translateY(-5px);
}

.card-quem-somos h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-quem-somos p,
.card-quem-somos li {
  font-size: 1rem;
  line-height: 1.6;
}

.card-quem-somos ul {
  padding-left: 1rem;
  margin: 0;
}
.card-quem-somos ul li::marker {
  color: #ffc857;

  font-size: 1.2rem;
}
.card-quem-somos p,
.card-quem-somos ul {
  max-width: 100%;
  margin: 0 auto;
}

/* Section da galeria */
#galeria.section {
  padding: 60px 0;
}

#galeria h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

/* Card da imagem */
.card-custom {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Ainda pode ter leve animação de sombra */
.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Imagem sem zoom, mas com cantos arredondados */
.img-galeria {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}
